body {
  font-size: 100%;
}

body {
  border: 2px thick black;
}

table{
  border: 2px thick red;
  border-style: double;
  color: green;
}

thead {
  border: 2px thin black;
  border-style: solid;
}
