
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Londrina+Solid:wght@300&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  font-size: 100%;
  background-color: rgb(255, 255, 182);
}

h1 { 
  border-style: solid;
  border-width: 5px;
  border-color: rgb(57, 146, 16);
  padding: 10px 5px;
  margin: 10px 10px;
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  color: rgb(58, 143, 19);
}

#container {
  border-style: solid;
  border-color: rgb(183, 194, 36);
  border-width: 5px;
  padding: 10px 10px;
  margin: 20px 10px;
  text-align: center;
}

th, tr {
  border-style: dotted;
  border-color: rgb(82, 77, 77);
  border-width: .1px;
  font-family: 'Yusei Magic', sans-serif;
  color: rgb(34, 126, 207);
}

td {
  border-style: dotted;
  border-color: rgb(233, 146, 146);
  border-width: .1px;
  font-family: 'Yusei Magic', sans-serif;
  color: rgb(219, 110, 14);
}

#landing-pg{
  background-color: rgb(243, 152, 141);
  width: 960px;
}

header{
  height: 80px;
  background-color: rgb(122, 94, 94);
}

nav{
  height: 80px;
  background-color: rgb(122, 94, 94);
}

header a{
  height: 80px;
}

header img{
  float: left;
  margin: 5px auto;
  margin-left: 0px;
}

nav span{
  width: 170px;
  height: 80px;
  display: inline-block;
}

nav span>a {
  text-align: center;
  vertical-align: middle;
}
